body {
  background: linear-gradient(to right, tomato, palevioletred); }

h1 {
  color: white;
  font-family: Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua", Georgia, serif;
  font-size: 60px; }

#timer {
  color: white;
  font-family: Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua", Georgia, serif;
  font-size: 50px; }

#startPomButton, #startShortBreakButton, #startLongBreakButton, #stop, #pause, #resume {
  font-family: Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua", Georgia, serif;
  font-size: 15px;
  border: 1px solid #999999;
  padding: 5px; }
