$primary-color: white;
$primary-font:  Ikaros, HK Nova, helvetica;
$gradient-color1:hsl(194, 48%, 54%);
$gradient-color2: hsl(153, 82%, 85%);

//$gradient-color1:#83a4d4;
//$gradient-color2:#b6fbff;


//$gradient-color2:#948e99;
//$gradient-color1:#2e1437;

//$gradient-color2:#360033;
//$gradient-color1:#0b8793;

//$gradient-color2:hsl(16, 100%, 75%);
//$gradient-color1:hsl(207, 100%, 12%);



//Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua", Georgia, serif;

body{
 background: linear-gradient(to right, $gradient-color1, $gradient-color2);

  //happy fisher (aqua)
  //  background: linear-gradient(to right, hsl(184, 98%, 77%),  hsl(215, 100%, 70%));
  
  //eternal constance (navy)
  //background: linear-gradient(to right,hsl(214, 75%, 14%), hsl(206, 28%, 45%));
  
  //morning salad
  //background: linear-gradient(to right, hsl(194, 48%, 54%),  hsl(153, 82%, 85%));
 
  //background: linear-gradient(to right, hsl(217, 96%, 81%), hsl(199, 88%, 87%));

  //background: linear-gradient(to right, tomato, palevioletred);

  //background: linear-gradient(to right, rgb(0, 112, 177), rgb(0, 71, 165));

  //background: linear-gradient(to right, rgb(138, 119, 247), rgb(255, 127, 217));
}


nav{
    ul {  
      margin: 0;
      padding: 0;
      list-style: none;
      background-color: $primary-color;
      position: fixed;
      top: 0px;
      left: 0px;
      width: 100%;

    }
     
     li{
       display: inline-block;
     } 
     a{
       color:  $gradient-color1;
       display: inline-block;
       padding: 12px 15px;
       font-Size: 18px;
       text-decoration: none;
       font-family: $primary-font;
     } 
      a:hover{
        background-color: $gradient-color1;
        color: $primary-color;
        font-family: $primary-font;
      }
  }


  
p{
  color:$primary-color;
  font-family: $primary-font;
  font-size: 18px;
 // padding: 20px;
 font-style: italic;
  position: fixed;
 // left: 50%;
 text-align: center;
  top: 40px;

}



#setButtons{
  margin: 0;
  display: inline-block;
  position: fixed;
  left: 50%;
  top: 190px;
  transform: translate(-50%, -50%);
  width: 470px;
}

#timer{
  color: $primary-color;
  font-family: $primary-font;
  font-size: 50px;
  //padding: 55px;
  position: fixed;
  left: 50%;
  top: 340px;
  transform: translate(-50%, -50%);
  //width:100%;
  text-align: center;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}
#actionButtons{
  margin: 0;
  display: inline-block;
  position: fixed;
  left: 50%;
  top: 490px;
  transform: translate(-50%, -50%);
  width: 290px;
}

#pomoCounter{
  color: $primary-color;
  font-family: $primary-font;
  font-size: 20px;
 // padding: 20px;
 // margin: auto;
  width: 700px;
  position: fixed;
  left: 50%;
  top: 560px;
  transform: translate(-50%, -50%);
  text-align: center;

}

%pomButtons{
  font-family: $primary-font;
  font-size: 28px;
  color: white;
  border: 1px solid hsl(0, 0%, 100%);
  padding: 9px;
  background-color:$gradient-color1; 
}



#startPomButton{
  @extend %pomButtons;
}
#startShortBreakButton{
  @extend %pomButtons;
}
#startLongBreakButton{
  @extend %pomButtons;
}
#stop{
  @extend %pomButtons;
}
#pause{
  @extend %pomButtons;
}
#resume{
  @extend %pomButtons;
}


