#test {
  top: 280px;
  width: 200px; }

#soundButton {
  height: 40px;
  position: fixed;
  left: 50%;
  top: 640px;
  transform: translate(-50%, -50%);
  text-align: center;
  outline: none; }

html {
  height: 100%; }

body {
  min-height: 100%;
  background-image: url(pics/duneNight.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: white;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%; }

nav li {
  display: inline-block; }

nav a {
  color: #948e99;
  display: inline-block;
  padding: 12px 15px;
  font-Size: 18px;
  text-decoration: none;
  font-family: Ikaros, HK Nova, helvetica; }

nav a:hover {
  background-color: #948e99;
  color: white;
  font-family: Ikaros, HK Nova, helvetica; }

p {
  color: white;
  font-family: Ikaros, HK Nova, helvetica;
  font-size: 18px;
  font-style: italic;
  position: fixed;
  text-align: center;
  top: 40px; }

#setButtons {
  margin: 0;
  display: inline-block;
  position: fixed;
  left: 50%;
  top: 190px;
  transform: translate(-50%, -50%);
  width: 615px; }

#timer {
  color: white;
  font-family: Ikaros, HK Nova, helvetica;
  font-size: 50px;
  position: fixed;
  left: 50%;
  top: 340px;
  transform: translate(-50%, -50%);
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

#actionButtons {
  margin: 0;
  display: inline-block;
  position: fixed;
  left: 50%;
  top: 495px;
  transform: translate(-50%, -50%);
  width: 615px; }

#pomoCounter {
  color: white;
  font-family: Ikaros, HK Nova, helvetica;
  font-size: 20px;
  width: 700px;
  position: fixed;
  left: 50%;
  top: 560px;
  transform: translate(-50%, -50%);
  text-align: center; }

#startPomButton, #startShortBreakButton, #startLongBreakButton, #stop, #pause, #resume {
  font-family: Ikaros, HK Nova, helvetica;
  font-size: 24px;
  color: white;
  border: 1.5px solid rgba(255, 255, 255, 0.747);
  background-color: rgba(0, 0, 0, 0.514);
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer; }
  #startPomButton:hover, #startShortBreakButton:hover, #startLongBreakButton:hover, #stop:hover, #pause:hover, #resume:hover {
    background-color: rgba(0, 0, 0, 0.3); }
  #startPomButton:focus, #startShortBreakButton:focus, #startLongBreakButton:focus, #stop:focus, #pause:focus, #resume:focus {
    outline: 0; }

#startPomButton, #startShortBreakButton, #startLongBreakButton {
  display: inline-block;
  padding: 20px 39px; }

#stop, #pause, #resume {
  padding: 20px 59px;
  display: inline-block;
  text-align: center; }
