$primary-color: white;
$primary-font:  Ikaros, HK Nova, helvetica;
//$gradient-color1:hsl(194, 48%, 54%);
//$gradient-color2: hsl(153, 82%, 85%);

//$gradient-color1:#83a4d4;
//$gradient-color2:#b6fbff;

#test{
top: 280px;
width: 200px;

}
#soundButton{
//background-image: url(pics/soundon.png);
//width: 100px;
//top: 1000px;
//width: 70px;
height: 40px;
position: fixed;
left: 50%;
//right: 15px;
//top: 88px;
top: 640px;
transform: translate(-50%, -50%);
text-align: center;
outline: none;
}
//#soundOff{
//background-image: url(pics/soundoff.png);
//width: 200px;
//top: 500px;
//}


$gradient-color2:#948e99;
$gradient-color1:#2e1437;

//$gradient-color2:#63566d;
//$gradient-color1:#2e1437;


//$gradient-color2:#ff9900;
//$gradient-color1:#ff028d;

//$gradient-color2:#9e0f8b;
//$gradient-color1:#74020b;

//$gradient-color2:#ff7c7c;
//$gradient-color1:#c4026396;

//$gradient-color2:#948e99;
//$gradient-color1:#009b40;

//$gradient-color2:#360033;
//$gradient-color1:#0b8793;
//background: linear-gradient(to right,hsl(214, 75%, 14%), hsl(206, 28%, 45%));

//$gradient-color1: hsl(214, 75%, 14%);
//$gradient-color2:  hsl(206, 28%, 45%);

//$gradient-color2:hsl(16, 100%, 75%);
//$gradient-color1:hsl(207, 100%, 12%);



//Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua", Georgia, serif;
html{
  height: 100%;
}


body{
min-height: 100%;

 //background: linear-gradient(to right, $gradient-color1, $gradient-color2);
 //background-image: url(pics/birdseyeBeach.jpeg);
 //background-image: url(pics/birdseyeForest.jpeg);
 //background-image: url(pics/rockyWaters.jpeg);
//background-image: url(pics/palm.jpeg);
//background-image: url(pics/citySunset.jpeg);
//background-image: url(pics/mountainPeaks.jpeg);
 //background-image: url(pics/waves.jpeg); 
 //background-image: url(pics/jellyfish.jpeg);
//background-image: url(pics/frawns.jpeg);
//background-image: url(pics/turtleturle.jpeg);
//background-image: url(pics/cityy.jpeg);



//background-image: url(pics/nightSky.jpeg);
//background-image: url(pics/tuscany.jpeg);
//background-image: url(pics/magenta.jpeg);
//background-image: url(pics/stream2.jpeg);

//background-image: url(pics/foliage.jpeg);
//background-image: url(pics/pastelLights.jpeg); 
//background-image: url(pics/jungleBridge.jpeg);
//background-image: url(pics/overheadLagoon.jpeg);
//background-image: url(pics/sail.jpeg);
//background-image: url(pics/hostas.jpeg);
//background-image: url(pics/waters.jpeg);
//background-image: url(pics/bungalos.jpeg);
//background-image: url(pics/fleurs.jpeg);
//background-image: url(pics/boardwalk.jpeg);
 //background-image: url(pics/sunsetPainted.jpeg);
 //background-image: url(pics/tulips.jpeg);
// background-image: url(pics/blueCliffs.jpeg);
//background-image: url(pics/cezanne.jpeg);
 //background-image: url(pics/dockedShips.jpeg);
 //background-image: url(pics/ferns.jpeg);
 //background-image: url(pics/grain.jpeg);
// background-image: url(pics/rainbowSunset.jpeg);
//background-image: url(pics/sunkissedThai.jpeg);
//background-image: url(pics/thaiBoats.jpeg);
//background-image: url(pics/teal.jpeg);


//background-image: url(pics/turtle.png);
//background-image: url(pics/boatDocks.jpeg);
//background-image: url(pics/blue.jpeg);
 //background-image: url(pics/sandDunes.jpeg);
// background-image: url(pics/greenTealBay.jpeg);
// background-image: url(pics/mistyBay.jpeg);
//background-image: url(pics/warmLagoon.jpeg);


//background-image: (url(var(--background-pic)));

background-image: url(pics/duneNightReduced.jpeg);
//background-image: url(pics/starryDusk.png);
//background-image: url(pics/purpleDusk.jpeg);
//background-image: url(pics/mirroredPeaks.jpeg);
//background-image: url(pics/purpleSunset.jpeg);
//background-image: url(pics/coffee.jpeg);
//background-image: url(pics/wheatContrast.jpeg);
//background-image: url(pics/mistyPeaks.jpeg);
//background-image: url(pics/sunset.jpeg);
//background-image: url(pics/layers.jpeg);

 background-repeat: no-repeat;
 background-size: cover;
 background-position: center;


  //happy fisher (aqua)
  //  background: linear-gradient(to right, hsl(184, 98%, 77%),  hsl(215, 100%, 70%));
  
  //eternal constance (navy)
  //background: linear-gradient(to right,hsl(214, 75%, 14%), hsl(206, 28%, 45%));
  
  //morning salad
  //background: linear-gradient(to right, hsl(194, 48%, 54%),  hsl(153, 82%, 85%));
 
  //background: linear-gradient(to right, hsl(217, 96%, 81%), hsl(199, 88%, 87%));

  //background: linear-gradient(to right, tomato, palevioletred);

  //background: linear-gradient(to right, rgb(0, 112, 177), rgb(0, 71, 165));

  //background: linear-gradient(to right, rgb(138, 119, 247), rgb(255, 127, 217));
}


nav{
    ul {  
      margin: 0;
      padding: 0;
      list-style: none;
      background-color: rgb(255, 255, 255);//$primary-color;
      position: fixed;
      top: 0px;
      left: 0px;
      width: 100%;

    }
     
     li{
       display: inline-block;
     } 
     a{
       
       color: $gradient-color2;//$gradient-color1;
       display: inline-block;
       padding: 12px 15px;
       font-Size: 18px;
       text-decoration: none;
       font-family: $primary-font;
     } 
      a:hover{
        background-color: $gradient-color2;
        color: $primary-color;
        font-family: $primary-font;
      }
  }


  
p{
  color:$primary-color;
  font-family: $primary-font;
  font-size: 18px;
 // padding: 20px;
 font-style: italic;
  position: fixed;
 // left: 50%;
 text-align: center;
  top: 40px;

}



#setButtons{
  margin: 0;
  display: inline-block;
  position: fixed;
  left: 50%;
  top: 190px;
  transform: translate(-50%, -50%);
  width: 615px;
}

#timer{
  color: $primary-color;
  font-family: $primary-font;
  font-size: 50px;
  //padding: 55px;
  position: fixed;
  left: 50%;
  top: 340px;
  transform: translate(-50%, -50%);
  //width:100%;
  text-align: center;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}
#actionButtons{
  margin: 0;
  display: inline-block;
  position: fixed;
  left: 50%;
  top: 495px;
  transform: translate(-50%, -50%);
  width: 615px;
}

#pomoCounter{
  color: $primary-color;
  font-family: $primary-font;
  font-size: 20px;
 // padding: 20px;
 // margin: auto;
  width: 700px;
  position: fixed;
  left: 50%;
  top: 560px;
  transform: translate(-50%, -50%);
  text-align: center;

}

%pomButtons{
  font-family: $primary-font;
  font-size: 24px;
  color: rgb(255, 255, 255);
 // border: none;
  border: 1.5px solid hsla(0, 0%, 100%, 0.747);
 // padding: 10px;
 background-color: rgba(0, 0, 0, 0.514);
  //background-color: $gradient-color1; 
  //box-shadow: 1.5px 1.5px $gradient-color1*0.4;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  &:hover {
   // border: 1.5px solid hsla(0, 0%, 100%, 0.363); 
    background-color:  hsla(0, 0%, 0%, 0.3); 
   // background-color: $gradient-color1*0.7; 
    //box-shadow: 2.5px 2.5px $gradient-color1*0.4;
  }
  &:active{
   // background-color: $gradient-color1*0.7;
   //border: 2px solid hsl(0, 0%, 100%); 
  }
  &:focus{
    outline:0;
   // background-color: $gradient-color1*0.7; 
  }
}

//startPomButton:hover{opacity:1}


#startPomButton, #startShortBreakButton, #startLongBreakButton{
  @extend %pomButtons;
  display: inline-block;
  padding: 20px 39px;
   //float: left;
}

#stop, #pause, #resume{
  @extend %pomButtons;
   padding: 20px 59px;
   //width: 150px;
   //float: left;
   display: inline-block;
   text-align: center;

}
  


